#auth0.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='auth0-tab')
  h5 1. Retrieve JWT tokens
  .row
    .container
      .col
        .form-group.row
          label(for='auth0_domain').col-4.text-right Domain
          .col
            input(v-model='config.auth0_domain', name='auth0_domain' @input='onConfigChange' placeholder='company.auth0.com').form-control
        .form-group.row
          label(for='auth0_client_id').col-4.text-right Client Id
          .col
            input(v-model='config.auth0_client_id', name='auth0_client_id' @input='onConfigChange' placeholder="Single Page App clientId").form-control
        .form-group.row
          label(for='auth0_audience').col-4.text-right Audience
          .col
            input(v-model='config.auth0_audience', name='auth0_audience' @input='onConfigChange' placeholder="Auth0 API audience (check Droplit configuration)").form-control
  .row
    .container
      p
        button(@click='clear' type='button').btn.btn-secondary Clear Configuration 
      p
        button(@click='login' type='button').btn.btn-warning Login with Auth0
  h5 2. Validate ID Token
  p Tokens will populate below
  .row
    .container
      .col
        .form-group.row
          label(for='auth0_jwt_validation_endpoint').col-4.text-right JWT validation endpoint
          .col 
            input(v-model='config.auth0_jwt_validation_endpoint', name='auth0_jwt_validation_endpoint', placeholder='https://dev-ioe.droplit.io/api/ecosystems/:id/conduits/:conduitName/verify-jwt' @input='onConfigChange').form-control
        //- .form-group.row
        //-   label(for='auth0_authorization_header').col-4.text-right Authorization
        //-   .col 
        //-     input(v-model='config.auth0_authorization_header', name='auth0_authorization_header', placeholder='droplit token' @input='onConfigChange').form-control
        //- .form-group.row
        //-   label(for='id_token').col-4.text-right ID Token
        //-   .col
        //-     textarea(v-model='config.id_token', name='id_token' disabled='disabled').form-control
        .form-group.row
          label(for='auth0_access_token').col-4.text-right Access Token
          .col
            textarea(v-model='config.auth0_access_token', name='auth0_access_token' disabled='disabled').form-control
        .form-group.row
          label(for='auth0_expires_in').col-4.text-right Expires In
          .col
            span(name='auth0_expires_in') {{ config.auth0_expires_in }}
  .row
    .container
      p
        button(@click='clearTokens' type='button').btn.btn-secondary Clear Tokens
      p
        button(@click='validateWithDroplit' type='button').btn.btn-success Validate ID Token with Droplit